.Desk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px black,
              5px 5px grey,
              10px 10px #333;
  width: 420px;
  position: fixed;
  left: 25%;
}

button {
  width: 100px;
  height: 100px;
  font-size: 25px;
}

.output {
  width: 408px;
  margin: 0;
  border: 2px #333 double;
}
